@using DeaconCCGManagement.ViewModels
@model EmailViewModel

@{
    ViewBag.Title = "Email Complete";
}

@Html.Partial("_Breadcrumbs", "Email Complete")



@*Data read by the script StatusNotificationHandler
    to show a status notification to user.*@
<input id="hasStatusNotification" hidden="hidden" value="@Model.HasStatusNotification.ToString()" />

@if (Model.HasStatusNotification)
{
    int notifyTypeInt = (int)Model.StatusNotification.NotifyType;
    <input id="statusNotificationTitle" hidden="hidden" value="@Model.StatusNotification.Title" />
    <input id="statusNotificationMessage" hidden="hidden" value="@Model.StatusNotification.Message" />
    <input id="notifyTypeInt" hidden="hidden" value="@notifyTypeInt" />
}

  <h3 class="text-dark">Email sent.</h3>



    @Html.Partial("_BackToListLink")

@section scripts{
    @Scripts.Render("~/Scripts/App/GetBackToListUrl.js")
    @Scripts.Render("~/Scripts/App/StatusNotificationHandler.js")
}